<h1>All List</h1>

<%= link_to "New list", new_list_path %>
<%= link_to "My lists" %>

<h2>My lists</h2>
<ul>
  <% @lists.each do |list| %>
    <li><%= link_to "#{list.name}", list_path(list.id) %></li>
  <% end %>
</ul>
